
.cms-steps{
  width: 100%;
  height: 70px;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cms-step{
  cursor: pointer;
  &::after{
    font-family: 'iconfont';
    content: "\e601";  
    display: inline-block;
    margin: 0 25px;
    color: #999;
  }
  &:last-child{
    &::after{
      content: "";   
    }
  }
 &.active{
  .cms-step-index{
    background: #188ae2;
    border-color: #188ae2;
    color: #ffff;
  }
  .cms-step-name{
    color: #444;
  }
 } 
}
.cms-step-index{
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  border:1px solid  #999;
  color: #999;
  font-size: 16px;
  font-style: italic;
  margin-right: 13px;
}
.cms-step-name{
  font-size: 14px;
  color: #999;
  .iconfont{
   
    font-size: 20px;
    position: relative;
    top: 2px;
  }
}
.commonly-class{
   width: 100%;
   padding: 40px 0;
   text-align: center;
   &-label{
     font-size: 14px;
     color: #666;
     margin-right: 10px;
   }
   &-select{
    height: 38px;
    line-height:38px;
    width: 380px;
    .el-input__inner{
      height: 38px;
       
    }
   }
}
.check-class-title{
font-size: 14px;
color: #444;
margin: 5px 0 10px 0;
.blue{
  color: #188ae2
}
}
.step-class-warpper{
  width: 960px;
  margin: 0 auto;
}
.step-class-group{
  width: 220px;
  border: 1px solid #e0e0e0;
  margin-right: 20px;
  display: inline-block;
  
  &:last-child{
    margin-right: 0;
  }
}
.class-group-header{
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #e0e0e0;
  background: #f7f7f7;
}
.class-group-body{
  width: 100%;
  padding: 6px 0;
  height: 340px;
  overflow: auto;
  .items{
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding:  0 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    color: #444;
    &.active{
      color: #188ae2;
      background: #f4f8fb; 
    }
  }
}
.step-fiexd{
  position: absolute;
  width: 100%;
  height: 70px;
  text-align: center;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0,0, 0.75);
  transition: .25s all;
}